In [39]:
""" create one variable containing following data type """

# string
a1 = (0,1,2,3,4,5)

# list
a = [12, 33, "apple", "pw skills", 222]

# float
b = 0.12

# tuple
c = (0,1,2,3)





print(a1),
print(a),
print(b),
print(c)

(0, 1, 2, 3, 4, 5)
[12, 33, 'apple', 'pw skills', 222]
0.12
(0, 1, 2, 3)

In [19]:
""" given  are some variables contaning following data

1) var1 = ''
2) var2 = '[DS,ML,Python]'
3) var3 = ['DS','ML','Python']
4) var4 = 1   """

var1 = ''
print(type(var1))

var2 = '[DS,ML,Python]'
print(type(var2))

var3 = ['DS','ML','Python']
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [20]:
"""Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	%Â 

(iii)	//

(iv)	** """

a = 5/2
print(a)

b = 5%2
print(b)

c = 5//2
print(c)

d = 5**2
print(d)

2.5
1
2
25

In [30]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type """

n = [12, 21, 121, 'sigma', 'pw skills', 2+1j, 512, 159, 258, 654 ]

for i in n:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible """

In [35]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not. """

n = [8, 10, 12, 15, 14, 22, 25, 27, 31, 35]

for i in n:
    if i%3 == 0:
        print('divisible by 3')
        
    else:
        print('not divisible by 3')

not divisible by 3
not divisible by 3
divisible by 3
divisible by 3
not divisible by 3
not divisible by 3
not divisible by 3
divisible by 3
not divisible by 3
not divisible by 3

In [37]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property. """

""" immutable data types which can't be changed after it is created, like float, string, tuple .

    mmutable data types which can be changed after it is created, like list """


""" tuple1 = (0, 1, 2, 3)
    tuple1[0] = 4
    print(tuple1) """
   

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]